
blackmarket.xcodeproj/project.xcworkspace/xcuserdata/danialepaco.xcuserdatad/UserInterfaceState.xcuserstate

*.xcuserstate

blackmarket.xcodeproj/project.xcworkspace/xcuserdata/danialepaco.xcuserdatad/IDEFindNavigatorScopes.plist

blackmarket.xcodeproj/xcuserdata/danialepaco.xcuserdatad/xcdebugger/Breakpoints_v2.xcbkptlist
